<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
            <parameters>
                <parameter value="v11.0" />
            </parameters>
        </defaultConnectionFactory>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
    <connectionStrings>
        <add name="dbLocal" connectionString="data source=(localDb)\v12.0;initial catalog=CombatsData;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
        <add name="dbExternal" connectionString="Server=953f36e4-3d0b-4b7b-b33f-a5d700108ecb.sqlserver.sequelizer.com;Database=db953f36e43d0b4b7bb33fa5d700108ecb;User ID=slelhswgeslnqyja;Password=DUcQ4eXtdmydnasgXcZFYKvPehH2Dt3RbUHcH7QNLYwfsYbjyuPKhXk3yuKVD5WS;" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>